<h1>Posts#new</h1>
<p>Find me in app/views/posts/new.html.erb</p>

<%= form_for @post, url: {action: "create"} do |f| %>
  <%= f.text_field :title, placeholder: 'Titulo' %>
  <br>
  <%= f.text_area :content, placeholder: 'Seu post aqui' %>
  <br>
  <%= f.submit 'Salvar Post' %>

<% end %>
